{% extends "base_generic2.html" %}

{% block content %}


  <div class="tests-header"><h1>{{ topic.title }}</h1><div>

  


  {% if topic %}  
  
  <div class="container">
    {% for language_test in language_tests %}
       
      {% if forloop.first %}<div class="row">{% endif %}  
          <div class="col col-xs-2 language-tests margin">
              <a href="{{ language_test.test.get_absolute_url }}">
                {% if   language_test.progress.finished %}
                  <div class="language-test-button test-finished">
                {% elif language_test.progress.started %}
                  <div class="language-test-button test-started" >   
                {% else %}
                  <div class="language-test-button test-clean" >
                {% endif %}
                      <div class="test-title">{{ language_test.test.number }}</div>
                  </div>
              </a>
          </div>
      {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}    
      {% if forloop.last %}</div>{% endif %}    
    {% endfor %}
  {% else %}
      <p>There are no tests.</p>
  {% endif %}  
    
  </div id="end">



     
{% endblock %}
